* {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 99%;
    height: 4em;
    background-color: rgb(16, 176, 174);
    background: linear-gradient(to right, rgb(1, 5, 5) 0px, rgb(16, 176, 174) 180px);
}

img#roundaboutSign {
    object-fit: cover;
    object-position: 19% 100%;
    width: 220px;
    height: 3em;
}

#logodiv {
    border-radius: 100%;
}

#mainLogo {
    position: relative;
    top: 2px;
    width: 60px;
}

body {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    background-color: rgb(53,54,65);
}

.container-form {
    background-color: rgb(68,70,84);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    min-width: 800px;
}

.section-start {
    margin-top: 2rem;
}

.input-simple input {
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.input-fileUpload {
    display: flex;
    align-items: center;
    max-width: 100%;
}

#input-docUpload-actual {
    display: none;
}

#input-docUpload-visual {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    min-width: 150px;
}

#input-docUpload-visual:hover {
    background-color: #45a049;
}

.input-fileUpload-filename {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

textarea, select {
    width: 100%;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

input {
    background-color: whitesmoke;
    border-radius: 10px;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkbox-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.checkbox-container label {
    margin-right: 5px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.required-details-details {
    min-width: 250px;
}

.singles-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;    
    display: block;
    width: 100%;
}

#btn-submit {
    margin-top: 30px;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}