* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(16, 176, 174);
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(12, 122, 121);
}

.banner {
    /* position: relative; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 4em;
    background-color: rgb(16, 176, 174);
    background: linear-gradient(to right, rgb(1, 5, 5) 0px, rgb(16, 176, 174) 180px);
    border-bottom: solid 2px black;
}

.fullLogo-container {
    display: flex;
    align-items: center;
}

#circleLogo-container {
    border-radius: 100%;
}

#mainLogo-img {
    position: relative;
    top: 2px;
    width: 60px;
}

img#roundaboutSign-img {
    object-fit: cover;
    object-position: 19% 100%;
    width: 220px;
    height: 3em;
}

.banner #nav-btn-container {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

#nav-btn-container button {
    padding: 0;
    height: 30px;
    width: 100px;
    text-align: center;
    margin-left: 20px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #2e2e2e;
}

#nav-btn-container button:hover {
    background-color: #424242;
}

#nav-btn-container button:active {
    box-shadow: inset 0 0 20px rgba(177, 177, 177, 0.9);
}

#nav-btn-container a {
    padding: 0;
    height: 30px;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    background-color: rgb(53,54,65);
}

.input-fileUpload-container {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.input-fileUpload-actual {
    display: none;
}

.input-fileUpload-visual {
    font-family: 'SplashFont';
    background-color: #42a76a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    min-width: 150px;
}

.input-fileUpload-filename {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

select {
    width: 100%;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-size: 10pt;
    min-height: 80px;
    overflow: auto;
}

select {
    min-height: auto;
}

button {
    color: white;
    font-family: 'SplashFont';
    border: none;
    padding: 10px 20px;
    width: 300px;
    background-color: #42a76a;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 12pt;
    cursor: pointer;
    display: block;
    text-align: center;
}

button:hover {
    background-color: #4bbb78;
}

button:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

.hidden {
    display: none;
}