label {
    display: block;
}

input, textarea {
    color: whitesmoke;
    background-color: #01283c;
    border: 2px solid black;
    max-width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

input:focus, textarea:focus, select:focus {
    border-color: rgb(1, 60, 156);
    outline: none;
}

.form-container {
    background-color: #001d2b;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    min-width: 800px;
    border-radius: 10px;
}

.input-dropdown select {
    /* background-color: rgb(212, 220, 228); */
    background-color: #013b58;
    color: whitesmoke;
    border-radius: 4px;
    font-size: 14pt;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 40px;
}

.section-start {
    margin-top: 30px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.single-container {
    margin-top: 20px;
    max-width: 100%;
}

.full-single-container {
    flex-basis: 100%;
}

.full-single-container textarea {
    width: 100%;
    min-width: 100%;
}

.textarea-container textarea {
    min-width: 380px;
    box-sizing: border-box;
    padding: 10px;
}

.input-simple {
    width: 100%;
}

.input-simple input {
    font-size: 12pt;
    padding: 0px 10px;
    background-color: #01283c;
    height: 40px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.checkbox-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.checkbox-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkbox-container label {
    margin-right: 5px;
}

.required-details-container {
    max-width: 100%;
}

#btn-submit {
    margin-top: 30px;
    width: 100%;
}