.form-container {
    background-color: rgb(68,70,84);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    min-width: 800px;
}

.section-start {
    margin-top: 2rem;
}

.input-simple input {
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkbox-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.checkbox-container label {
    margin-right: 5px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.required-details-details {
    min-width: 250px;
}

.singles-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#btn-submit {
    margin-top: 30px;
}