.notification-container {
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 20px;
    border: solid 3px black;
    border-radius: 10px;
    background-color: rgb(68,70,84);
    color: whitesmoke;
    font-size: 14pt;
    font-weight: bold;
    z-index: 100;
    width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /* border: 1px solid yellow; */
}

.notification-blur {
    position: fixed;
    backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.notification-btn {
    color: white;
    width: 100px;
    margin-left: auto;
}