* {
    font-family: SplashFont;
}

 a {
    color: lightblue;
 }

#table-container {
    font-size: 10pt;
    background-color: #001d2b;
    min-width: 300px;
    max-width: 98%;
    min-height: 130px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 2px;
    position: relative;
    overflow: auto;
}

#table-controls {
    height: 40px;
    border-bottom: 1px solid whitesmoke;
    overflow: hidden;
    min-width: 1386px;
    max-width: 100%;
}

#client-select-container {
    width: auto;
}

#client-select-container select {
    padding: 0;
    margin-left: 5px;
    width: auto;
    height: 30px;
    background-color: #001d2b;
    color: whitesmoke;
    border-radius: 0;
    outline: none;
}

#table-headers {
    padding: 0px 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    min-width: 1386px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.table-header-item {
    text-align: center;
    white-space: nowrap;
}

.table-column-container {
    display: flex;
    justify-content: space-between;
}

.table-column {
    white-space: nowrap;
    padding: 10px 20px;
    text-align: center;
    text-overflow: ellipsis;
    /* border: 1px solid yellow; */
    box-sizing: border-box;
    overflow: hidden;
}

.table-column-container .table-column:nth-child(1) {
    min-width: 100px;
}

.table-column-container .table-column:nth-child(2) {
    width: 200px;
}

.table-column-container .table-column:nth-child(3) {
    width: 200px;
}

.table-column-container .table-column:nth-child(4) {
    width: 120px;
}

.table-column-container .table-column:nth-child(5) {
    width: 120px;
}

.table-column-container .table-column:nth-child(6) {
    width: 130px;
}

.table-column-container .table-column:nth-child(7) {
    width: 130px;
}

.table-column-container .table-column:nth-child(8) {
    width: 120px;
}

#table-items-container {
    position: relative;
    min-width: 1386px;
    width: 100%;
}

.table-item {
    padding: 0px 10px;
    white-space: nowrap;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.table-item:nth-child(odd) {
    background-color: #01283c;
}

.table-item:hover {
    background-color: #013b58;
}

#details-full-container {
    margin: 1rem;
    background-color: #001d2b;
    border-radius: 10px;
    padding: 20px;
}

#btn-edit {
    margin-left: auto;
    max-width: 150px;
    height: 30px;
    padding: 0;
}

#details-full-container h2 {
    margin-bottom: 0px;
    text-align: left;
}

.details-placeholder {
    text-align: center;
}

.details-section-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
}

.details-subItem-container {
    font-size: 10pt;
    margin-right: 30px;
    margin-bottom: 1.5rem;
    max-width: 500px;
}

.details-subItem-container label {
    font-size: 12pt;
    display: block;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.details-subItem-container p, .details-subItem-container a {
    display: block;
    padding: 10px;
    background-color: #01283c;
    border-radius: 10px;
    border: 1px solid #01496c;
}

.details-subItem-emptyValue p {
    background-color: #2a373d;
}

.details-subItem-block {
    flex-basis: 100%;
    margin-right: 0px;
    max-width: 100%;
}

.details-subItem-block label {
    display: block;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.details-subItem-block p {
    padding-left: 20px;
}
