* {
    font-family: SplashFont;
}

#table-container {
    font-size: 10pt;
    background-color: #001d2b;
    min-width: 300px;
    max-width: 98%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 2px;
    overflow: auto;
    position: relative;
}

#table-controls {
    height: 40px;
    border-bottom: 1px solid whitesmoke;
    overflow: hidden;
    min-width: 1386px;
    max-width: 100%;
}

#client-select-container {
    width: auto;
}

#client-select-container select {
    padding: 0;
    margin-left: 5px;
    width: auto;
    height: 30px;
    background-color: #001d2b;
    color: whitesmoke;
    border-radius: 0;
    outline: none;
}

#client-select-container label {
    color: whitesmoke;
    padding-left: 10px;
    font-size: 9pt;
}

#table-headers {
    padding: 0px 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    min-width: 1386px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.table-header-item {
    text-align: center;
    white-space: nowrap;
}

.table-column-container {
    display: flex;
    justify-content: space-between;
}

.table-column {
    white-space: nowrap;
    padding: 10px 20px;
    text-align: center;
    text-overflow: ellipsis;
    /* border: 1px solid yellow; */
    box-sizing: border-box;
    overflow: hidden;
}

.table-column-container .table-column:nth-child(1) {
    min-width: 100px;
}

.table-column-container .table-column:nth-child(2) {
    width: 200px;
}

.table-column-container .table-column:nth-child(3) {
    width: 200px;
}

.table-column-container .table-column:nth-child(4) {
    min-width: 120px;
    max-width: 300px;
}

.table-column-container .table-column:nth-child(5) {
    min-width: 120px;
    max-width: 300px;
}

.table-column-container .table-column:nth-child(6) {
    min-width: 130px;
    max-width: 300px;
}

.table-column-container .table-column:nth-child(7) {
    min-width: 130px;
    max-width: 300px;
}

.table-column-container .table-column:nth-child(8) {
    width: 120px;
}

#table-items-container {
    position: relative;
    min-width: 1386px;
    width: 100%;
    /* border: 2px solid blue; */
}

.table-item {
    padding: 0px 10px;
    white-space: nowrap;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.table-item:nth-child(odd) {
    background-color: #01283c;
}

.table-item:hover {
    background-color: #013b58;
}
