{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href='{{ url_for("static", filename="css/home.css", v=APPVERSION)}}'>
    <title>Spec DB</title>
{% endblock %}
{% block body %}
<div class="splash-container">
    <h1>
        Client Specs
    </h1>
    <div class="btn-container">
        <br>
        <br>
        <a href="/nav/entry">
            <button class="btn-nav">New</button>
        </a>
        <a href="/nav/view">
            <button class="btn-nav">Browse</button>
        </a>
    </div>    
</div>
{% endblock %}
{% block script %}
{% endblock %}