<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <style>
        @font-face {
            font-family: 'SplashFont';
            src: url('{{ url_for("static", filename="fonts/noto-serif.ttf") }}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/notification.css", v=APPVERSION) }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/base.css", v=APPVERSION) }}'>
    {% block head %} {% endblock %}
</head>
<body>
    <div class="banner">
        <div class="fullLogo-container">
            <div id="circleLogo-container">
                <a id='homebtn' href="/">
                    <img src="{{ url_for('static', filename='img/mainlogo.png')}}" alt="Roundabout Logo" id='mainLogo-img'>
                </a>
            </div>
            <img src="{{ url_for('static', filename='img/roundaboutlogo_alt.png')}}" alt="Roundabout Sign" id='roundaboutSign-img'>
        </div>
        <div class="search-container hidden" id="search-container-main">
            <img src="{{ url_for('static', filename='img/search_icon.png')}}" alt="Search Icon" class='searchIcon-img'>
            <input type="text" id = "search-container-main-input" placeholder="Search (Spec Names)" autocomplete="off">
        </div>
        <div id="nav-btn-container">
            <a href="/nav/entry">
                <button class="btn-nav">New</button>
            </a>
            <a href="/nav/view">
                <button class="btn-nav">Browse</button>
            </a>
        </div>
    </div>
    {% block body %} {% endblock %}
    {% block script %} {% endblock %}
</body>
</html>
